
.card-wide.mdl-card {
  width: 100%;
  min-height: auto;
  margin: 0px 30px;
}
.card-wide > .mdl-card__title {
  color: #000;
  background-color: lightblue;
  height: auto;
  padding:10px;
}
#map .mdl-card__supporting-text{
  width: 100%;
  padding: 0px;
}
#map .card-wide.mdl-card {
    width: 100%;
    margin:30px;
}
h3.title {
    margin-left: 50px !important;
}
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.mdl-data-table td {
    text-align: left;
  }
.mdl-data-table th {
    text-align: center;
  }
.mdl-grid.center-items {
  justify-content: center;
}
