
<html>
    <head>
	{% block head %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	{% endblock %}

	{% block extrahead %}
	<!-- page specific head block -->
	{% endblock %}

	{% block jsonld %}
	<!-- block for jsonLD data -->
	{% endblock %}

    </head>
    <body>
	<div id="content">
	    {% block content %}{% endblock %}
	</div>
    </body>

</html>
